{% load i18n %}
<div id="admin-form" class="ui-widget-content ui-widget ui-corner-all">
	<div class="form_title ui-widget-header ui-corner-all">
		<span>{% trans 'Change Password' %}</span>
	</div>
	<form id="save-form" action="/defuser/save/pwd/" method="post">{% csrf_token %}
		<div class="row">
			{{ form.name.label_tag }}
			{{ form.name }}
		</div>
		<div class="row">
			{{ form.password.label_tag }}
			{{ form.password }}
		</div>
		{% include "save_button.html" %}
		{% include "status_panel.html" %}
	</form>
</div>