{% if level == '' %}
{% include "save_form_title.html" %}
{% endif %}
<div class="form_container ui-widget-content ui-widget ui-corner-all">
	<form id="save-form{{ scope }}{{ level }}" action="/defuser/save/" method="post">{% csrf_token %}
		<div class="row">
			{{ form.name.label_tag }}
			{{ form.name }}
		</div>
		<div class="row">
			{{ form.type.label_tag }}
			{{ form.type }}
		</div>
		<div class="row">
			{{ form.accesstype.label_tag }}
			{{ form.accesstype }}
		</div>
		{% if type %}
			{% if type == 1 %}
				{% include "defuser/defusername_save_form.html" %}
			{% else %}{% if type == 2 %}
				{% include "defuser/defusergroup_save_form.html" %}
			{% endif %}{% endif %}
		{% else %}
			{% include "defuser/defusername_save_form.html" %}
			{% include "defuser/defusergroup_save_form.html" %}
		{% endif %}
		<div class="row">
			{{ form.comment.label_tag }}
			{{ form.comment }}
		</div>
		{% include "save_button.html" %}
		<div id="dialog-add{{ scope }}{{ level }}" title="{{ dialog_title }}">
			<div id="dialog_body{{ scope }}{{ level }}"></div>
		</div>
		<div id="dialog-edit{{ scope }}{{ level }}" title="{{ dialog_edit_title }}">
			<div id="dialog_edit_body{{ scope }}{{ level }}"></div>
		</div>
	</form>
</div>