@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font: 8pt Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	margin: 5px;
	border: none !important;
	/* 	background-repeat: no-repeat !important; */
	/* 	background-image: none !important; */
}

.login_box {
	width: 500px;
	margin: 0 auto;
	border: 1px solid;
	padding: 10px;
}

.login_text {
	width: 320px;
}

.login_box h2 {
	font-size: 25pt;
	text-align: center;
	margin-top: 0;
}

.login_box label {
	font-size: 10pt;
}

.login_box .login_button {
	display: inline-block;
	padding: 10px 20px 15px 20px;
	font-size: 12pt;
}

div.row_login_button {
	clear: both;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 130px;
}

.login_box .loginicon {
	padding-left: 30px;
}

#maincontainer {
	width: 840px; /*Width of main container*/
}

#topsection {
	height: 40px; /*Height of top section*/
	width: 995px;
}

#topsection h1 {
	margin: 0;
	padding-top: 15px;
}

#contentwrapper {
	float: left;
	width: 100%;
}

#contentcolumn {
	margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn {
	float: left;
	width: 200px; /*Width of left column*/
	margin-left: -840px; /*Set left margin to -(MainContainerWidth)*/
}

#section_logo {
	float: left;
	width: 910px;
}

#section_option {
	margin-top: 12px;
}

#footer {
	clear: left;
	width: 100%;
	background: black;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
}

#footer a {
	color: #FFFF80;
}

.innertube {
	margin: 2px;
	/*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}

#progress_status {
	width: 200px;
	position: absolute;
	top: -14px;
	left: 600px;
	display: none;
}

#popupCloseTheme {
	display: none;
	cursor: pointer;
	padding-left: 15px;
}

#menu a:LINK {
	text-decoration: none;
}

.menu_active {
	font-weight: bold;
}

#table_container,.dns_container {
	width: 790px;
	border: 1px solid;
}

#wpfilter_tabs,#nat_tabs {
	width: 820px;
	border: 1px solid;
}

.page_title {
	height: 24px;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 6px;
}

div.form_title {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	height: 21px;
}

.form_title .title {
	float: left;
}

.form_title .close {
	float: right;
	margin-right: 5px;
}

div.row,div.row_admin,div.row_wpadvance,div.row_lic {
	clear: both;
	padding-top: 5px;
	margin-left: 5px;
}

div.row label {
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 120px;
}

div.recuring_weekday label {
	float: none;
	text-align: left;
	margin-top: auto;
	margin-right: auto;
	width: auto;
}

div.recuring_weekday {
	margin-left: 85px;
	padding: 0;
}

.recuring_weekday ul {
	list-style-type: none;
	list-style: none;
}

div.row_dnatsnat {
	clear: both;
	margin-left: 5px;
}

div.row_dnatsnat label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 250px;
}

.display_options {
	width: 50px;
	font-size: 1em;
}

div.row_button {
	clear: both;
	text-align: right;
	margin-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.text {
	width: 158px;
}

.lictext {
	width: 340px;
}

.text_icmp {
	width: 138px;
}

.text_user {
	width: 305px;
}

.select {
	width: 160px;
	font-size: 1em;
}

.search_option {
	width: 220px;
	font-size: 1em;
}

.filter_option {
	width: 82px;
	font-size: 1em;
}

.list_row {
	border: 1px solid !important;
	background-image: none !important;
}

.list_row1 {
	background-color: #dddddd;
}

.list_row2 {
	background-color: #eeeeee;
}

.list_table {
	width: 100%;
	border-collapse: collapse;
}

.nav_table {
	float: right;
	border-collapse: collapse;
}

.nav_table td {
	text-align: right;
}

#id_add,#id_find,.page_button {
	font-size: 1.1em;
	white-space: nowrap;
}

#id_add {
	float: left;
	width: 200px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

#id_add .addicon {
	padding-left: 15px;
}

#id_find {
	padding-left: 3px;
	padding-right: 17px;
}

.page_button {
	padding: 0 50px 0 50px;
}

.list_button {
	font-size: 1.1em;
	margin-top: 2px;
}

.hover {
	cursor: pointer;
}

.save_button,.add_button,.misc_button {
	font-size: 1em;
	padding: 2px 8px 2px 8px;
	display: inline-block;
}

.save_button.save,.save_button.ok {
	margin-right: 5px;
}

.add_button .addicon {
	padding-left: 16px;
}

.panel_header {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}

.panel_filter {
	padding-bottom: 5px;
	white-space: nowrap;
	display: inline-block;
}

#panel_body {
	overflow-x: hidden;
	overflow-y: auto;
}

#panel_body .list_row {
	white-space: nowrap !important;
}

.ui-draggable {
	cursor: pointer;
}

.ui-draggable-dragging {
	height: 21px;
	font-size: 1.1em;
}

#members_dropzone,.members_dropzone {
	width: 158px;
	height: 140px;
	border: 1px solid;
	margin-left: 125px;
}

.route_dropzone,.parentip_dropzone,.nat_dropzone {
	width: 158px;
	height: 21px;
	margin-left: 125px;
}

.list_item {
	cursor: pointer;
}

div.row_admin label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 270px;
}

div.row_lic label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 200px;
}

.lic_lbl {
	width: 140px !important;
}

#admin-form {
	width: 450px;
}

#wpadvance-form {
	width: 320px;
}

#lic-form {
	width: 500px;
}

.img_add,.img_folder,.img_import,.img_export {
	cursor: pointer;
}

div.row .img_add,div.row .img_export {
	float: right;
	width: 16px;
}

div.row .img_folder,div.row .img_import {
	float: right;
	margin-right: 5px;
	width: 16px;
}

div.members_container {
	height: 124px;
	clear: both;
	overflow-x: hidden;
	overflow-y: auto;
}

.list_container {
	clear: both;
	overflow: auto;
}

.list_item {
	white-space: nowrap;
}

.list_item .item_delete {
	width: 18px;
}

.list_item .item_edit {
	width: 20px;
}

.list_item div {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.tb_icmp {
	border: 1px solid;
	border-collapse: collapse;
	margin: 1em;
	cursor: pointer;
}

.tb_icmp th {
	border: 1px solid;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tb_icmp td {
	border: 1px solid;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.icmp_types {
	height: 200px;
	overflow: auto;
}

.icmp_codes {
	margin-top: 10px;
}

.page_container {
	width: 100%;
}

.shadow {
	border-bottom-style: outset;
	color: #000000;
}

.space {
	margin-top: 5px;
}

.netroute_box,.parentip_box,.nat_box {
	width: 118px;
	height: 21px;
	border: 1px solid;
	overflow: hidden;
}

.dns_container {
	margin-left: 5px;
}

.dns1 {
	width: 320px;
	height: 240px;
	float: left;
	margin-bottom: 5px;
}

.dns2 {
	width: 320px;
	height: 240px;
	margin-left: 400px;
	margin-bottom: 5px;
}

.dns_box {
	width: 310px;
	height: 210px;
	border: 1px solid;
	margin: 5px 5px 5px 5px;
}

div.dnslist_container,div.wpadvanceskiplist_container {
	height: 188px;
	clear: both;
	overflow-x: hidden;
	overflow-y: auto;
}

.switch {
	width: 20px;
	height: 12px;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}

.switch_button {
	margin-left: 10px;
	margin-top: 2px;
}

.row_wpadvance_parent {
	border: 1px solid;
	margin: 5px 5px 0 10px;
	padding-bottom: 5px;
}

.wpadvanceskip {
	width: 320px;
	height: 240px;
	margin-bottom: 5px;
}

.wpadvanceskip_box {
	width: 310px;
	height: 210px;
	border: 1px solid;
	margin: 5px 5px 5px 5px;
}

.content_list {
	border-collapse: collapse;
	width: 100%;
}

.content_list th,.content_list td {
	text-align: right;
}

.dashboard_date {
	font-style: italic;
}

.dashboard_refresh {
	display: inline;
	float: right;
	margin-right: 10px;
}

.dashboard_tbl .col {
	vertical-align: top;
	padding-left: 10px;
}

.dashboard_tbl1 {
	border: 1px solid;
	width: 260px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-collapse: collapse;
}

.dashboard_tbl2 {
	border: 1px solid;
	width: 490px;
	margin-top: 10px;
	border-collapse: collapse;
}

.dashboard_tbl1 th {
	font-weight: bold;
	text-align: justify;
	height: 22px;
}

.dashboard_tbl1 .collbl {
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

.dashboard_tbl1 .version {
	width: 150px;
}

.dashboard_tbl1 .resource,.dashboard_tbl1 .statistic {
	width: 80px;
}

.dashboard_tbl1 .lic {
	width: 120px;
}

.dashboard_tbl2 th {
	font-weight: bold;
	height: 22px;
}

.dashboard_pgbar_outer,.dashboard_pgbar_text {
	width: 150px !important;
	height: 16px !important;
}

.dashboard_pgbar_text {
	text-align: center;
	font-weight: bold;
}

.dashboardnic_pgbar_outer {
	width: 100px !important;
	height: 16px !important;
	overflow: hidden;
}

.dashboardnic_pgbar_text {
	text-align: right;
}

.upgrade_tbl {
	width: 350px;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid;
	border-collapse: collapse;
}

.table_report {
	width: 100%;
	cellpadding: 0px;
	cellspacing: 0px;
}

.alert_text {
	color: red;
	font-weight: bold;
}

.theme_options {
	display: none;
	height: 82px;
	position: absolute;
	top: 45px;
	left: 890px;
	z-index: 3000;
}

.spinner {
	display: inline-block;
	background: url("img/loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}

div.row_log {
	margin-left: 130px;
	margin-top: 10px;
}

.log_body {
	width: 98%;
	height: 350px;
	overflow: auto;
	margin: 5px 5px;
	border: 1px solid;
}

#panel_tooltip {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 5000;
}

#panel_tooltip_body {
	min-width: 175px;
	min-height: 50px;
}

.aligncenter {
	text-align: center;
}

.link {
	text-decoration: underline !important;
}

input[type='text'],input[type='password'] {
	border: 1px solid #ccc;
}

input[type='text']:HOVER,input[type='password']:HOVER {
	border: 1px solid #000;
}

input[type='text']:FOCUS,input[type='password']:FOCUS {
	background-color: #ffc;
}

/* django error 500 css */
#error_dialog html * {
	padding: 0;
	margin: 0;
	color: black;
}

#error_dialog body * {
	padding: 10px 20px;
}

#error_dialog body * * {
	padding: 0;
}

#error_dialog body {
	font: small sans-serif;
}

#error_dialog body>div {
	border-bottom: 1px solid #ddd;
}

#error_dialog h1 {
	font-weight: normal;
}

#error_dialog h2 {
	margin-bottom: .8em;
}

#error_dialog h2 span {
	font-size: 80%;
	color: #666;
	font-weight: normal;
}

#error_dialog h3 {
	margin: 1em 0 .5em 0;
}

#error_dialog h4 {
	margin: 0 0 .5em 0;
	font-weight: normal;
}

#error_dialog code,pre {
	font-size: 100%;
}

#error_dialog table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	background: white;
}

#error_dialog tbody td,tbody th {
	vertical-align: top;
	padding: 2px 3px;
}

#error_dialog thead th {
	padding: 1px 6px 1px 3px;
	background: #fefefe;
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	border: 1px solid #ddd;
}

#error_dialog tbody th {
	width: 12em;
	text-align: right;
	color: #666;
	padding-right: .5em;
}

#error_dialog table.vars {
	margin: 5px 0 2px 40px;
}

#error_dialog table.vars td,table.req td {
	font-family: monospace;
}

#error_dialog table td.code {
	width: 100%;
}

#error_dialog table td.code pre {
	overflow: auto;
}

#error_dialog table.source th {
	color: #666;
}

#error_dialog table.source td {
	font-family: monospace;
	white-space: pre;
	border-bottom: 1px solid #eee;
}

#error_dialog ul.traceback {
	list-style-type: none;
}

#error_dialog ul.traceback li.frame {
	padding-bottom: 1em;
}

#error_dialog div.context {
	padding: 10px 0;
	overflow: auto;
}

#error_dialog div.context ol {
	padding-left: 30px;
	margin: 0 10px;
	list-style-position: inside;
}

#error_dialog div.context ol li {
	font-family: monospace;
	white-space: pre;
	color: #666;
	cursor: pointer;
}

#error_dialog div.context ol li pre {
	display: inline;
}

#error_dialog div.context ol.context-line li {
	color: black;
	background-color: #ccc;
}

#error_dialog div.context ol.context-line li span {
	position: absolute;
	right: 32px;
}

#error_dialog div.commands {
	margin-left: 40px;
	color: #666;
}

#error_dialog div.commands a {
	color: black;
	text-decoration: none;
}

#error_dialog #summary {
	background: #ffc;
	color: black;
}

#error_dialog #summary h2 {
	font-weight: normal;
	color: #666;
}

#error_dialog #explanation {
	background: #eee;
	color: black;
}

#error_dialog #template,#template-not-exist {
	background: #f6f6f6;
}

#error_dialog #template-not-exist ul {
	margin: 0 0 0 20px;
}

#error_dialog #unicode-hint {
	background: #eee;
}

#error_dialog #traceback {
	background: #eee;
	color: black;
}

#error_dialog #requestinfo {
	background: #f6f6f6;
	padding-left: 120px;
	color: black;
}

#error_dialog #summary table {
	border: none;
	background: transparent;
}

#error_dialog #requestinfo h2,#requestinfo h3 {
	position: relative;
	margin-left: -100px;
}

#error_dialog #requestinfo h3 {
	margin-bottom: -1em;
}

#error_dialog .error {
	background: #ffc;
}

#error_dialog .specific {
	color: #cc3300;
	font-weight: bold;
}

#error_dialog h2 span.commands {
	font-size: .7em;
}

#error_dialog span.commands a {
	color: #5E5694;
}

#error_dialog pre.exception_value {
	font-family: sans-serif;
	color: #666;
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}

/* end django error 500 css */

/* wizard css */
.wizard_frame {
	width: 500px;
	border: 1px solid;
	font-size: 1.2em;
}

.wizard_introduce {
	padding-left: 30px;
	padding-top: 10px;
}

.wizard_note {
	padding-left: 30px;
	padding-top: 10px;
}

.wizard_options {
	padding-left: 60px;
	padding-top: 20px;
}

.wizard_button240 {
	padding-top: 15px;
	padding-left: 240px;
}

.wizard_button170 {
	padding-top: 15px;
	padding-left: 170px;
}

.wizard_button100 {
	padding-top: 15px;
	padding-left: 100px;
}

.wizard_legend {
	width: 350px;
	padding-left: 80px;
	padding-top: 10px;
}

.wizard_legend1 {
	padding-left: 60px;
	padding-top: 20px;
}

.wizard_lserror {
	border: 1px solid;
	width: 400px;
}
/* end wizard css */

/* Nghia start from this point */
.spaceiconlist {
	margin-right: 10px;
	white-space: nowrap;
	display: inline-block;
}

.paddicon {
	padding-left: 17px;
	padding-bottom: 5px;
}

.paddicon1 {
	padding-left: 15px;
}

.proxynow {
	background: url('img/proxynow5.png') no-repeat !important;
	width: 16px;
	height: 16px;
}

.addicon {
	background-position: 0px 0px !important;
}

.cloneicon {
	background-position: 0px -21px !important;
}

.closeicon {
	background-position: 0px -42px !important;
}

.serviceicon {
	background-position: 0px -63px !important;
}

.newicon {
	background-position: 0px -84px !important;
}

.deleteicon {
	background-position: 0px -105px !important;
}

.searchicon {
	background-position: 0px -126px !important;
	padding-left: 16px;
}

.saveicon {
	background-position: 0px -147px !important;
	padding-left: 17px;
	padding-bottom: 5px;
}

.foldericon {
	background-position: 0px -168px !important;
}

.infoicon {
	background-position: 0px -189px !important;
}

.editicon {
	background-position: 0px -210px !important;
}

.networkicon {
	background-position: 0px -231px !important;
}

.servericon {
	background-position: 0px -252px !important;
}

.cancelicon {
	background-position: 0px -273px !important;
	padding-left: 16px;
	padding-bottom: 5px;
}

.usericon {
	background-position: 0px -294px !important;
}

.trashicon {
	background-position: 0px -315px !important;
}

.backicon {
	background-position: 0px -336px !important;
	padding-left: 16px;
}

.forwardicon {
	background-position: 0px -357px !important;
	padding-left: 16px;
}

.dnshosticon {
	background-position: 0px -378px !important;
}

.groupsicon {
	background-position: 0px -399px !important;
}

.loginicon {
	background-position: 0px -420px !important;
}

.posticon {
	background-position: 0px -449px !important;
	padding-left: 16px;
}

.helpicon {
	background-position: 0px -470px !important;
}

.usergroupicon {
	background-position: 0px -491px !important;
}

.redicon {
	background-position: 0px -533px !important;
}

.greyicon {
	background-position: 0px -554px !important;
}

.greenicon {
	background-position: 0px -575px !important;
}

.cpuicon {
	background-position: 0px -617px !important;
}

.hdicon {
	background-position: 0px -638px !important;
}

.gearicon {
	background-position: 0px -659px !important;
}

.swapicon {
	background-position: 0px -680px !important;
}

.ipicon {
	background-position: 0px -701px !important;
}

.icmpicon {
	background-position: 0px -722px !important;
}

.tcpicon {
	background-position: 0px -743px !important;
}

.udpicon {
	background-position: 0px -764px !important;
}

.ramicon {
	background-position: 0px -785px !important;
}

.servicegroupicon {
	background-position: 0px -806px !important;
}

.enableoptionicon {
	background-position: 0px -827px !important;
	padding-left: 15px;
}

.disableoptionicon {
	background-position: 0px -848px !important;
	padding-left: 15px;
}

.skipicon {
	background-position: 0px -596px !important;
	padding-left: 16px;
}

.viewerrorpageicon {
	background-position: 0px -869px !important;
}

.mapfieldicon {
	background-position: 0px -890px !important;
}

.importicon {
	background-position: 0px -911px !important;
}

.exporticon {
	background-position: 0px -932px !important;
}
