{% load i18n %}
<div class="row">
	<label>{% trans 'Blocked:' %}</label>
	<div id="blockmimes" class="members_dropzone">
		<div>
			<div class="img_add proxynow addicon"></div>
			<div class="img_folder proxynow foldericon"></div>
		</div>
		<div id="id_blockmimes" class="members_container">
			{% for o in blockmimes %}
			<div id="blockmime_{{ o.blockmime.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_blockmime(this)"></div>
				{% if iswizard %}
					<div class="proxynow editicon item_edit" onclick="return wizard.edit_blockmime(this)"></div>
				{% else %}
					<div class="proxynow editicon item_edit" onclick="return wpprofile.edit_blockmime(this)"></div>
				{% endif %}
				<div>{{ o.blockmime }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>