{% load i18n %}
<div class="row">
	<label>{% trans 'Categories:' %}</label>
	<div id="categories" class="members_dropzone">
		<div>
			<div class="img_add proxynow addicon"></div>
			<div class="img_folder proxynow foldericon"></div>
		</div>
		<div id="id_categories" class="members_container">
			{% for o in cats %}
			<div id="cat_{{ o.catid.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_cat(this)"></div>
				{% if iswizard %}
					<div class="proxynow editicon item_edit" onclick="return wizard.edit_cat(this)"></div>
				{% else %}
					<div class="proxynow editicon item_edit" onclick="return wpprofile.edit_cat(this)"></div>
				{% endif%}
				<div>{{ o.catid }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>