{% load i18n %}
<div class="row">
	<label>{% trans 'Whitelist:' %}</label>
	<div id="whitelist" class="members_dropzone">
		<div>
			<div class="img_add proxynow addicon"></div>
			<div class="img_folder proxynow foldericon"></div>
		</div>
		<div id="id_whitelist" class="members_container">
			{% for o in whitelist %}
			<div id="whitelist_{{ o.whitelist.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_whitelist(this)"></div>
				{% if iswizard %}
					<div class="proxynow editicon item_edit" onclick="return wizard.edit_whitelist(this)"></div>
				{% else %}
					<div class="proxynow editicon item_edit" onclick="return wpprofile.edit_whitelist(this)"></div>
				{% endif%}
				<div>{{ o.whitelist }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>