{% load i18n %}
<div class="row">
	<label>{% trans 'Users:' %}</label>
	<div id="users" class="members_dropzone">
		<div>
			<div class="img_add proxynow addicon"></div>
			<div class="img_folder proxynow foldericon"></div>
		</div>
		<div id="id_users" class="members_container">
			{% for o in userinternals %}
			<div id="userint_{{ o.userinternal.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_userinternal(this)"></div>
				<div class="proxynow editicon item_edit" onclick="return wpprofile.edit_userinternal(this)"></div>
				<div>{{ o.userinternal.get_html_repr }}</div>
			</div>
			{% endfor %}
			{% for o in userexternals %}
			<div id="userext_{{ o.userexternal.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_userexternal(this)"></div>
				<div>{{ o.userexternal.get_html_repr }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>