{% load i18n %}
<div class="row">
	<label>{% trans 'Allowed:' %}</label>
	<div id="allowexts" class="members_dropzone">
		<div>
			<div class="img_add proxynow addicon"></div>
			<div class="img_folder proxynow foldericon"></div>
		</div>
		<div id="id_allowexts" class="members_container">
			{% for o in allowextensions %}
			<div id="ext_{{ o.allowext.id }}" class="list_item">
				<div class="proxynow trashicon item_delete" onclick="return wpprofile.remove_allowext(this)"></div>
				{% if iswizard %}
					<div class="proxynow editicon item_edit" onclick="return wizard.edit_allowext(this)"></div>
				{% else %}
					<div class="proxynow editicon item_edit" onclick="return wpprofile.edit_allowext(this)"></div>
				{% endif %}
				<div>{{ o.allowext }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>