<tr class="list_item">
	<td>
		<div class="proxynow trashicon item_delete" onclick="return <%= click %>"></div>
	</td>
	<td>
		<div class="proxynow editicon item_edit" onclick="return wpcontent.edit_content(this)"></div>
	</td>
	<td><%= keyword %></td>
	<td><%= score %></td>
</tr>