{% load i18n %}
<div id="wpfilter_tabs">
	<ul>
		<li><a href="/wpcat/" title="wpfilter1">{% trans 'Category' %}</a></li>
		<li><a href="/wpwhitelist/" title="wpfilter2">{% trans 'Whitelist' %}</a></li>
		<li><a href="/wpblacklist/" title="wpfilter3">{% trans 'Blacklist' %}</a></li>
		<li><a href="/wpext/" title="wpfilter4">{% trans 'Extension' %}</a></li>
		<li><a href="/wpcontent/" title="wpfilter5">{% trans 'Content' %}</a></li>
		<li><a href="/wpmime/" title="wpfilter6">{% trans 'MIME' %}</a></li>
	</ul>
</div>