<table>
	<tr>
		<td align="right">{{ form.name.label_tag }}</td>
		<td>{{ o.name }}</td>
	</tr>
	<tr>
		<td align="right">{{ form.type.label_tag }}</td>
		<td>{{ o.get_type_name }}</td>
	</tr>
	{% if o.type == 1 %}
		{% include "defservices/defservicestcp_info.html" %}
	{% else %}{% if o.type == 2 %}
		{% include "defservices/defservicesudp_info.html" %}
	{% else %}{% if o.type == 3 %}
		{% include "defservices/defservicesicmp_info.html" %}
	{% else %}{% if o.type == 4 %}
		{% include "defservices/defservicesip_info.html" %}
	{% else %}{% if o.type == 5 %}
		{% include "defservices/defservicesgroup_info.html" %}
	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
	<tr>
		<td align="right">{{ form.comment.label_tag }}</td>
		<td>{{ o.comment }}</td>
	</tr>
</table>