{% load i18n %}
{% if objlist %}
	<table class="list_table">
		<tbody>
		{% for o in objlist %}
			<tr class="{% cycle 'ui-state-default' 'ui-state-hover' %} list_row">
				<td id="{{ o.id }}" width="60px">
					{% include "list_button.html" %}
				</td>
				<td valign="top">{{ o.name }}</td>
				<td valign="top">
				{% if o.type == 1 %}
 					<strong>[{% trans 'Single' %}]</strong>
				{% endif %}
				{% if o.type == 2 %}
 					<strong>[{% trans 'Recurring' %}]</strong>
				{% endif %}
				{{ o.get_data }}
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}	
<input id="id_pg" type="hidden" value="{{ has_prev }},{{ has_next }},{{ prev_page }},{{ next_page }},{{item_msg }}" />