{% load i18n %}
<div class="login_box ui-widget-content">
	<form id="login-form" action="/login/" method="post">{% csrf_token %}
		<h2 class="ui-widget-header">{% trans 'Login to WebAdmin' %}</h2>
		<div class="row">
			{{ form.username.label_tag }}
			{{ form.username }}
		</div>
		<div class="row">
			{{ form.password.label_tag }}
			{{ form.password }}
		</div>
		<div class="row_login_button">
			<span class="login_button hover ui-corner-all ui-state-default">
				<span class="proxynow loginicon">{% trans 'Login' %}</span>
			</span>
		</div>
	</form>
	{% include "status_panel.html" %}
</div>