{% load i18n %}
{% if level == '' %}
{% include "save_form_title.html" %}
{% endif %}
<div class="ui-widget-content ui-widget ui-corner-all">
	<form id="save-form{{ scope }}{{ level }}" action="/wpmime/save/" method="post">{% csrf_token %}
		<div class="row">
			{{ form.name.label_tag }}
			{{ form.name }}
		</div>
		{% include "wpmime/wpmimevalue_save_form.html" %}
		<div class="row">
			{{ form.comment.label_tag }}
			{{ form.comment }}
		</div>
		{% include "save_button.html" %}
		<div id="dialog-editmime{{ scope }}{{ level }}" title="{{ dialog_editmime_title }}">
			<div id="dialog_editmime_body{{ scope }}{{ level }}"></div>
		</div>
		<div id="dialog-import{{ scope }}{{ level }}" title="{{ dialog_import_title }}">
			<div id="dialog_import_body{{ scope }}{{ level }}"></div>
		</div>
		<div id="dialog-export{{ scope }}{{ level }}" title="{{ dialog_export_title }}">
			<div id="dialog_export_body{{ scope }}{{ level }}"></div>
		</div>
	</form>
</div>