{% load i18n %}
<div align="left" class="wizard_frame">
	<div class="page_title ui-widget-header">
		{{title}}
	</div>
	<div class="wizard_legend">
		<fieldset>
			<legend>
				{% trans 'Local interface'%}
			</legend>
			<table style="padding-left:20px">
				<tr>
					<td align="right" style="width:90px">{% trans 'IP address '%}:</td>
					<td>{{ form.ipaddresslocal_internal }}</td>
				</tr>
				<tr>
					<td align="right">{% trans 'Netmask '%}:</td>
					<td>{{ form.netmaskaddresslocal_internal }}</td>
				</tr>
				<tr>
					<td align="right">{% trans 'Hardware '%}:</td>
					<td>{{ form.hardware_internal }}</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="wizard_legend">
		<fieldset>
			<legend>
				{% trans 'External Interface'%}
			</legend>	
			<table style="padding-left:20px">
				<tr>
					<td align="right" style="width:90px">{% trans 'IP address '%}:</td>
					<td>{{ form.ipaddresslocal_external }}</td>
				</tr>
				<tr>
					<td align="right">{% trans 'Netmask '%}:</td>
					<td>{{ form.netmaskaddresslocal_external }}</td>
				</tr>
				<tr>
					<td align="right">{% trans 'Default gateway '%}:</td>
					<td>{{ form.defaultgateway_external }}</td>
				</tr>
				<tr>
					<td align="right">{% trans 'Hardware '%}:</td>
					<td>{{ form.hardware_external }}</td>
				</tr>
			</table>
		</fieldset>
	</div>
	{% include "wizard/error_info.html" %}
	<div id='wizard_next' class="wizard_button240">
		<span id="wizard_back_btt" onclick="wizard.back_form(this)">{% include "back_button.html" %}</span>
		<span id="wizard_next_btt" onclick="wizard.next_form(this)">{% include "next_button.html" %}</span>
	</div>
	<div style="margin-top:10px"></div>
	<input id="wizard_identification_form" type="hidden" value="networkinterfacesdefinitionA" />
</div>