{% load i18n %}
{% csrf_token %}
<div class="dns_container ui-widget">
	<div class="page_title ui-widget-header">{% trans 'Trusted Network' %}</div>
	<fieldset class="net ui-corner-all">
		<legend>{% trans 'Trusted networks' %}</legend>
		<div class="dns_box">
			<div class="row">
				<div class="img_add proxynow addicon"></div>
				<div class="img_folder proxynow foldericon"></div>
			</div>
			<div id="netlist" class="dnslist_container">
				{% for o in net %}
				<div id="item_{{ o.netid.id }}" class="list_item">
					<div class="proxynow trashicon item_delete" onclick="return nettrusted.delete_net(this)"></div>
					<div class="proxynow editicon item_edit" onclick="return nettrusted.edit_net(this)"></div>
					<div>{{ o.netid.get_html_repr }}</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</fieldset>
	{% include "alert_panel.html" %}
	<div id="dialog-add-netlist" title="{{ dialog1_title }}">
		<div id="dialog_body-netlist"></div>
	</div>
	<div id="dialog-edit-netlist" title="{{ dialog1_edit_title }}">
		<div id="dialog_edit_body-netlist"></div>
	</div>
	{% include "list_panel.html" %}
</div>