{% load i18n %}
{% if objlist %}
	<table class="list_table">
		<tbody>
		{% for o in objlist %}
			<tr class="{% cycle 'ui-state-default' 'ui-state-hover' %} list_row">
				<td id="{{ o.id }}" width="60px">
					{% include "list_button.html" %}
				</td>
				<td valign="top">
					{{ o.interface.name }} --&gt;
					{{ o.originalPort.get_html_repr }}
					{{ o.host.get_html_repr }}
					{{ o.newService.get_html_repr }}
					{% if o.comment %}
					<br>
					{{ o.comment }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
<input id="id_pg" type="hidden" value="{{ has_prev }},{{ has_next }},{{ prev_page }},{{ next_page }},{{item_msg }}" />